@keyframes slidein {
    from {
      margin-left: 20%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }

  }
  

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideDown {
    0% {transform: translateY(-40px);opacity:0;}
    100% {transform: translateY(0);opacity:1;}
  }

//   @keyframes slideDown {
//     top:-40px;
//     left:5px;
//     animation: slideDown ease .4s forwards .6s;
@keyframes slideRight {

  from {
    margin-left: -6rem;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideFadeLeft {

  from {
    margin-left: 30%;
    opacity: 0;
    // width: %; 
  }

  to {
    margin-left: 0%;
    opacity: 1;
    // width: 100%;
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

@keyframes shadow {
  from {
    box-shadow: 0;
    // box-shadow: 0 10px 6px -6px #cecece;
  }
  to {
    // box-shadow: 0;
    box-shadow: 0 10px 6px -6px #cecece;
  }

}