
.companyContainer {
    // padding-top: 1rem;
    display: flex;
    padding-top: 2rem;
    // background-color: $grey-blueish;
    // margin-right: 2rem;
    // margin-left: 2rem;
     flex-direction: column;
     line-height: 1.8rem;
     gap: 6rem;
     @include phone-screen{
        margin-top: 0;
        padding-top: 0;
        gap: 2rem;
        padding-left: 1rem ;
        padding-right: 1rem ;
     }
   

   
}


.companyList{
    // background-color: rgba(222, 168, 201, 0.851);
    display: flex;
    background-color: $grey-blueish;
    // gap: 1rem;
    // grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @include phone-screen{
      display: flex;
      flex-direction: column;
      background-color: inherit;
    }
    

    .columCompany{ 
        height: 100%;
        // width: 50%;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;   
        // align-self:centre; 
        align-content: center;
         
    }

    
    h2{

        padding-top: 2rem;
        padding-bottom: 1rem;
        // margin: auto;

        text-align: center;
  
        color: $logo-red;
        font-size: 1.3rem;
        @include phone-screen{
            display: flex;
            flex-direction: column;
            background-color: inherit;
            font-size: 1.5rem;
            font-weight: 200;
    }}
       
       
    p{
        padding-top: 1.5rem;
        padding-left: 4rem;
        padding-right: 3rem;
        // font-family: 'AvenirNext' !important;
        
        line-height: 1.8rem;
        font-size: 1.1rem;
        padding-bottom: 2rem;
        @include phone-screen{
            padding-left: 1rem;
            padding-right: 1rem;
        }

    }
    img {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: 1rem;
        object-fit: cover;  
        padding: 3rem;
        @include phone-screen{
            padding: 0;
            margin: 0;
            margin-top: 1rem;
        }
    }

    iframe {
        margin: 0.5rem;
        // padding: 0 !important;
        height: 25rem;
        width: 25rem;
        object-fit: cover; 
        @include phone-screen{
            margin: 0;
            width: 100%;

        }


    }


}


// .locationsP


//////////////////////////////About us ////////////////////////////
/// 
.aboutContainer {
    width: 100%;
    // box-shadow: 0 10px 6px -6px #cecece;
    @include phone-screen {
        // padding-right: 1rem;
        // padding-left: 1rem;
        // padding-top: 2rem;
        // padding-bottom: 1rem;
        // margin-top: 3rem;

    }
    p{
        width: 100%;
        background-color: $grey-blueish;
        font-family: 'AvenirNext';
        font-size: 17px;
        // padding:2rem;
        line-height: 1.8rem;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include phone-screen {
            padding-right: 1rem;
            padding-left: 1rem;
            // padding-top: 2rem;
            padding-bottom: 1rem;
            // margin-top: 3rem;

        }
        span{
            font-style: italic;
            font-stretch:expanded;
            font-size: 1.1rem;
        }
        // background-color: red;
    }
    .textSmall{
        @include phone-screen{
            display: relative;
            padding-top: 0;
            margin-top: 0;
        }
        @media screen and (min-width: 37.5em ) {
            display: none;

        }
    }
    .longText {
        margin-top: 0;
        @include phone-screen{
            display: none;
        }
        p{
            margin-top: 0;
            padding-top: 0;
        }
    }

  .read-or-hide{
    color: $logo-blue;
    font-style: normal;   
    font-weight: 600;
  }

}

////////////////////////////////////aboutUsPhptp

.aboutUsPhoto{
    // height: 20rem;
    background-color: $grey-blueish;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    padding-top: 0.3rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: center; /* centers items horizontally */
    align-items: center;
    // .aboutUs2{
    //     width:25rem;
    // }
 
    img {
        height: 18rem;
        width:100%;
        place-self: center;
        // padding-bottom: 2rem;

    }
    @include phone-screen{
        display: none;
    }
}



.locationsP {
    span{
        font-weight: 600;
        color: $logo-blue;
    }
}
/////////////////////////////////map/////////////////

.sparesContainer {
    @include phone-screen{
        flex-direction: column-reverse;
    }
}