
.companyContainer {
    margin-top: 6rem;
    display: flex;
    padding-top: 1rem;
    // margin-right: 2rem;
    // margin-left: 2rem;
     flex-direction: column;
     gap: 16rem;
   
    
     

    //  background-color: red;
    //  column-gap: 20px;
  
   
}

.companyList{
    // background-color: rgba(222, 168, 201, 0.851);
    display: flex;
    background-color: $grey-blueish;
    // gap: 1rem;
    // grid-gap: 1rem;
    .columCompany{ 
        width: 50%;
        position: relative;
        min-height: 30rem;
        
        
    
    }
    
    h2{

        padding-top: 2rem;
        margin: auto;
        // margin-top: 2rem;
        text-align: center;
        display: block;
        width: 100%;
        color: $logo-blue;
        font-size: 1.3rem;
        // background-color: rgba(255, 192, 203, 0.324);
    }
    p{
        padding-top: 1.5rem;
        padding-left: 4rem;
        padding-right: 4rem;
        font-family: "Avenir Next W02" !important;
        line-height: 1.8rem;
        font-size: 1.1rem;
        padding-bottom: 2rem;
        // background-color: rgba(127, 255, 212, 0.197);
    }
    img {
        // max-height: 21rem;
        display:block;
        // background-color: rgba(0, 255, 128, 0.163);
        object-fit: cover;
        width:80%;
        margin: auto;
        // margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
      
        transform: translate(-50%, -50%);
        padding-top: 1rem;
        padding-bottom: 1rem;
    
       
    }


}





//////////////////////////////About us ////////////////////////////
/// 


/////////////////////////////////map/////////////////


.locationContainer{
    display: flex;
    justify-content: center;
    margin: auto;
}

.google-map {
    align-self:center;
    margin: 0;
    padding: 0;
    height: 25rem;
    width: 25rem;
    // position: relative;
    border:0;
    // max-width: 30rem;
    // max-height: 30rem;
}

.google-map  {
    iframe{
    margin: 0 !important;
    padding: 0 !important;
    height: 25rem;
    width: 25rem;
    // left: 0;
    // top: 0;
    // position: absolute;
    }
}


