

.fullPage {
    background-color: $nice-white;
    margin-top: 0;
    // scroll-padding-top: 50rem; 
    // margin-top: 30rem;
    // scroll-padding-top:  8rem; 
}

.portada { 
    margin-left: 6.5rem;
    margin-right: 6.5rem;
    @include tablet-screen  {
        margin-left: 2rem;
        margin-right: 2rem;;
     }
    @include phone-screen {
        margin-left: 0rem;
        margin-right:0rem;
    }

}
    