

.fullPage {
    position: relative;
    // background-color: red;
    background-color: $nice-white;
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 0;
    // padding-top: 0.7rem;

}

.portada {
    padding-top: 0.7rem;
    background-color: $grey-blueish;
}