

.fullPage {
    // position: relative;
    padding-top: 0.7rem;
    // background-color: red;
    background-color: $nice-white;
    // padding-left: 0.5rem;
    // padding-right: 0.5rem;
 
    margin-top: 0;


}

.portada { 
    margin-left: 6.5rem;
    margin-right: 6.5rem;
    @include phone-screen {
        margin-left: 0rem;
        margin-right:0rem;
    }
}
    