.supportMenu {
    height: 5rem;
}

.mainPhoto {
    // background-image: url('../../../../src/assets/planesunny.jpeg');
    background: url("./images/planesunny.jpeg") no-repeat center center;
    //background: url("./images/mainpage.png") no-repeat center center;
    // background: url("./images/plainMain.jpg") no-repeat center center;
    // padding-top: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: 32rem;
    margin-top: 6.8rem;
}

.header{
    position: fixed;
    width:100%;
    // margin-left: 5rem;
    margin-right: 5rem;
    padding-right: 5rem;
    top: 0;
    left: 5rem;
    right: 5rem;
    z-index: 10;
    
    
}
.headerInner{
    position: relative;
    margin-right: 5rem;
    // padding-right: 5rem;
    background-color:$grey-blueish;
   
        //  box-shadow: 0 10px 6px -6px #cecece;
  

}

.flying{
    padding-left: 2rem;
    padding-top: 22rem;
    color: $flying;
    text-shadow: rgb(255, 255, 253)3px 3px 4px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    text-shadow: 
        0 1px 0 #ffffff,
        0 1px 0 rgb(252, 252, 252),
        1px 1px 1px #ffffff,
        1px 2px 1px rgb(255, 234, 0)
        0 -1px 0 #ffffff,
        0 -1px 0 rgb(255, 255, 255),
        -1px 1px 1px rgb(255, 255, 255),
        1px -1px 1px rgb(255, 255, 255);
        -webkit-text-stroke: 1px $flying;





    font-family: 'bodoniBold';
    font-style: italic;
    font-family: sans-serif;
    font-size: 2.5rem;
    animation: 1.5s ease-in slideRight;
    font-family: "Avenir Next W02" !important;

}

.bitPadding{
    // padding:1.5rem;
    margin-bottom: 2.5rem;
}
.bitMargin {
    margin-bottom: 2rem;
}
.wecomeContainer {
    // margin-top: 3rem;
    // height: 20rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    position: relative;
    // font-family: "Avenir Next W02" !important;
    // background-color: aquamarine;
    margin:auto; 
    min-height: 5rem;
    background-color: #f7f7f8;
    background-color: #f8f7f7;
    .title {
        position: relative;
        display:flex;
        padding: 0;
        margin: auto;
        text-align:center; 
        width: 21.5rem;
        height: 3rem;
        margin: auto;
        padding-bottom: 1rem;
        // font-family: "Avenir Next W02" !important;
        // background-color: rgb(239, 25, 61);

    }

    h1{
    position: absolute;
    font-size:1.2rem; 
    font-weight:300;  
    letter-spacing:1px; 
    margin: auto;
    
    // text-transform:uppercase; 
    // width: 50%;
    text-align:center; 
    //margin:auto; 
    white-space:nowrap;
    padding-bottom:13px;
    font-family: "Avenir Next W02" !important;
    // background-color: rgb(183, 159, 206);
    }
    h1:before {
        background-color: $logo-red;
        content: '';
        display: block;
        height: 3px;
        width: 40%;
        margin-bottom: 5px;
        // font-family: 'Times New Roman', Times, serif;
       
    }
    h1:after {
        background-color: $logo-red;
        content: '';
        display: block;
        position:absolute; right:0; bottom:0;
        height: 3px;
        width: 40%;
        margin-bottom: 0.25em;
        // font-family: 'Times New Roman', Times, serif;
        
    }
    
}


