
.fullPage {
    position: relative;
    // background-color: red;
}

.hangerFull {
    background-image: url('../../../../src/assets/hangarFull.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}



// .background-video {
//     width: 100vw;
//     height: 100vh;
//     object-fit: cover;
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     z-index: -90;
//     opacity: 0.4;
//   }