// .boroscopePhotoCont {
//     img{
//         // height: 25rem ;
//     width: 20rem;
//     margin-left: 10rem;

// }
    
// }
.lineContainer{
    @include phone-screen{
        flex-direction: column-reverse;
    }
}
.borosContainer{
    @include phone-screen{
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }
}