
.containerTopCont {
   width: 100%;
   display: flex;
  justify-content: space-between;
  //background-color:rgba(245, 245, 245, 0.206);
  //margin-top: 0.3rem;
  border-radius: 5px;
  color: $top-text-color;
  margin-top: 0;
//   position:absolute;
    
  
  @include phone-screen {
    margin:0;
    padding: 0;
    padding-bottom: 0.9em;
    // background-color: purple;
    width: 100%;
    // display: block;
    flex-direction: column;
  
    }
  
}

// .logoBox {


// }
.AogSelector{
    animation: fadeIn ease-in 1.5s;

}
.logoContainer {
    padding: auto;
    // background-color: rgb(162, 162, 198);
}
.logo {
    // position: absolute;
    padding: 0.5rem;
    padding-left:2rem;
    padding-bottom: 1rem;
    padding-top: 0.8rem;
    width: 10rem;
    animation: slideFadeLeft ease 1.5s ;
    @include phone-screen {
        width: 7rem;
        padding-left:1em;
        padding-bottom: 0em;
      
    }
}
.aobContactContainer{

    display: flex;
    align-items:  center ;
    // letter-spacing: .03571em;
    font-family: "AvenirNext" !important;
    font-weight: 100;
    @include phone-screen {
        margin:0;
        padding: 0;
        width: 100%;
        padding-top: 0.8rem;
       
        justify-content:center;
    }
}

.aobContact {
    padding-right:1rem;
    font-size: 1rem;
    padding-top: 1rem;
    // margin: auto;
    // animation: slideDown ease 1.5s forwards 1s;
    @include phone-screen {
        margin:0;
        padding-left: 1rem;
        padding-top: 0;
        // background-color: pink;
        font-size: 0.9em;
        // max-width: 95%;
        width: 100%;
        
      
    }
    img {
       vertical-align:middle;
       height: 1.5rem;
    }
    p {
        display:inline-block;
        vertical-align:middle;

    } 
    .strongText{
        font-weight: 900;
        color: $logo-red;
    }
}
.contactIcon{
    height: 2rem;
    @include phone-screen {
       display: none;

    //     width: 0.5rem;
    }
    

}


.hamburger{
    width: 1.5rem;
    height: 1.8rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
    display: none;
  

    @include phone-screen {
        display: flex;
        position: fixed;
        right: 1rem;
        top:1em;
        padding-top: 10px;
        margin-left: 2rem;
        z-index: 20;
        
    }
    .burger{
        width: 1.5rem;
        height: 0.12rem;
        border-radius: 10px;
        background-color: rgb(70, 70, 70);
        transform-origin: 3px;
        // transition: all linear;

    }

 
}



// .menu-container

// .hamburgerStyleOpen {  
//     display: inline;
// }

.hamburgerStyleClose {
   

    .burger1{
        transform:rotate(0);
    }
    .burger2{
        transform: translateX(0);
        opacity: 1;
    }
    .burger3{
        transform:  rotate(0);
    }
}




.hamburgerStyleOpen{
    
    .burger1{
        transform: rotate(45deg);
    }
    .burger2{
        transform:  translateX(100%);
        opacity: 0;
        // display: none;
    }
    .burger3{
        transform:rotate(-45deg);
    }
}











// .burger1 {
//     transform: ${isOpen ? 'rotate(45deg)' : 'rotate(0)'};
// }
// .burger2 {
//     transform: ${ isOpen ? 'translateX(100%)' : 'translateX(0)'};
//     opacity: ${ isOpen ? 0 : 1};
// }
// .burger3 {
//     transform: ${ isOpen ? 'rotate(-45deg)' : 'rotate(0)'};
// }