
.containerTopCont {
   width: 100%;
   display: flex;
  justify-content: space-between;
  //background-color:rgba(245, 245, 245, 0.206);
  //margin-top: 0.3rem;
  border-radius: 5px;
  color: $top-text-color;
  margin-top: 0;
//   position: fixed;

//   animation-duration: 2.5s;
//   animation-name: slidein, appear;
//   top:40px;
//   left:-5px;
  
}

// .logoBox {


// }
.AogSelector{
    animation: fadeIn ease-in 1.5s;

}
.logoContainer {
    padding: auto;
    // background-color: rgb(162, 162, 198);
}
.logo {
    // position: absolute;
    padding: 0.5rem;
    padding-left:2rem;
    padding-bottom: 1rem;
    padding-top: 0.8rem;
    width: 10rem;
    animation: slideFadeLeft ease 1.5s ;
    //-webkit-filter: drop-shadow(5px 5px 5px #d3d3d3);
    //filter: drop-shadow(1px 1px 1px #eeeeee);
}
.aobContactContainer{

    display: flex;
    align-items:  center ;
    // letter-spacing: .03571em;
    font-family: "AvenirNext" !important;
    font-weight: 100;
    // background-color: pink;
    // animation: slideDown ease 1.5s forwards 1s;
}

.aobContact {
    padding-right:1rem;
    font-size: 1rem;
    padding-top: 1rem;
    // animation: slideDown ease 1.5s forwards 1s;
    
    img {
       vertical-align:middle;
       height: 1.5rem;
    }
    p {
        display:inline-block;
        vertical-align:middle;

    } 
    .strongText{
        font-weight: 900;
        color: $logo-red;
    }
}
.contactIcon{
    height: 2rem;

}

