.inquiries {
  margin: 2rem;
  padding: 3rem;
  font-family: "AvenirNext";
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  @media screen and (max-width: 37.5em) {
    margin-top: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    padding-top: 2.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.9rem;
  }
}

.contacts {
  // display: grid;
  // grid-gap: 2rem;
  // grid-template-columns: 1fr 3fr 3fr;
  max-width: 55rem;
  // padding-bottom: 3rem;
  // position: relative;
  // margin: auto;
  font-family: "AvenirNext";

  // background: #facaca;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  // margin-top: 1rem;
  margin-bottom: 4rem;

  .contactTitle {
    flex: 1 1 20%;
    font-weight: 800;
  }
  .phone {
    flex: 1 1 40%;
  }
  .email {
    flex: 1 1 40%;
  }

  @media screen and (max-width: 37.5em) {
    // display: flex;
    // padding-bottom: 1rem;
    // gap:1rem;
    // background: #facaca;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
    .contactTitle {
      flex: 1 1 100%;
    }
    .phone {
      flex: 1 1 50%;
    }
    .email {
      flex: 1 1 50%;
    }
  }

  p {
    // flex: 1 1 30%; /*grow | shrink | basis */
    display: flex;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    // padding-bottom: 2.5rem;
    // padding-top: 1rem;

    @media screen and (max-width: 37.5em) {
      font-size: 0.8rem;
      height: 2rem;
    }
  }
}

///////////////contact form///////////////////////////

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  margin: auto;
  // background-color: pink;
  background-color: rgb(253, 253, 253);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-bottom: 2rem;
  margin-top: 2rem;
  // opacity: 1;
  @media screen and (max-width: 37.5em) {
    font-size: 0.8rem;
    width: 100%;
  }

  .title {
    margin-top: 2rem;
    font-size: 2.6rem;
    font-weight: bold;
    padding: 1.5% 0;
    color: $logo-blue;
    @media screen and (max-width: 37.5em) {
      font-size: 1.6rem;
    }
  }

  .title-info {
    padding-bottom: 2%;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2%;
  }

  .input-group,
  .textarea-group {
    padding: 1% 0;
  }

  input,
  textarea {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding: 1.5%;
    font-size: 1rem;
  }

  input:focus,
  textarea:focus {
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid #56bbdc;
  }

  input::placeholder,
  textarea::placeholder {
    color: transparent;
  }

  label {
    color: #757575;
    position: relative;
    left: 0.5em;
    top: -2em;
    cursor: auto;
    transition: 0.3s ease all;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    top: -4em;
    color: rgb(237, 237, 237);
    font-size: 15px;
  }

  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label {
    top: -5.5em;
    color: rgb(186, 186, 186);
    font-size: 15px;
  }

  .button-div {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }

  button {
    padding: 2%;
    width: 50%;
    border: 1px solid;
    border-color: #212121;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    background-color: $logo-blue;
    color: whitesmoke;
    box-shadow: 0 0 5px #212121;
  }

  button:hover {
    // background-color:rgb(26, 104, 206);
    // color: whitesmoke;
    background-color: whitesmoke;
    font-weight: 700;
    color: $logo-blue;
    cursor: pointer;
  }

  button:active {
    background-color: $logo-red;
    color: whitesmoke;
    cursor: pointer;
  }

  /* Media queries */

  @media screen and (max-width: 1200px) {
    .form {
      width: 70%;
    }
  }

  @media screen and (max-width: 680px) {
    .form {
      width: 90%;
    }
  }

  @media screen and (max-width: 500px) {
    .title {
      font-size: 1.6rem;
      padding-top: 6%;
    }

    .title-info {
      font-size: 13px;
    }

    .form {
      padding: 6% 4%;
      padding-top: 15%;
    }

    .input-group,
    .textarea-group {
      padding: 3% 0;
    }

    input,
    textarea {
      font-size: 15px;
    }

    input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
      top: -3.5em;
      left: 0.1em;
    }

    textarea:focus ~ label,
    textarea:not(:placeholder-shown) ~ label {
      top: -8.5em;
      left: 0.2em;
    }

    button {
      font-size: 15px;
    }
  }
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  width: 75%;
  margin: auto;
  opacity: 0.9;
  border-top: 1px solid #212121;
  // margin-bottom: 2rem;
}

section:hover {
  animation: fade 0.3s ease;
  opacity: 1;
}

.info {
  height: 4vh;
  margin-bottom: 2rem;
  display: flex;
  span {
    padding-left: 0.5rem;
  }
}

// .codecell-img
// {
//     height: 10vh;
// }

@keyframes fade {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.9;
  }
}

/* Media queries */

@media screen and (max-width: 1295px) {
  section {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  section {
    opacity: 0.9;
  }
}
