@import "abstracts/variables";
@import "pages/home";
@import "pages/menu";
@import "pages/fullpage";
@import "pages/topcont";
@import "pages/company";

////////////////////////////////

*{
    padding: 0;
    margin: 0;
    cursor: pointer;
   // color: rgb(1, 5, 85);
    //font-family: "Avenir";
    
}


