@import "abstracts/variables";
@import "abstracts/functions";
@import "pages/home";
@import "pages/menu";
@import "pages/fullpage";
@import "pages/topcont";
@import "pages/company";
@import "pages/services";
@import "pages/contact";
@import "pages/footer";
////////////////////////////////
@font-face{
  font-family: "AvenirHeavy";
  src: url("../../css/fonts/Avenir/Avenir_Heavy/Avenir_Heavy.ttf") format("truetype");
}
@font-face{
  font-family: "AvenirNextReg";
  src: url("fonts/AvenirNext_Regular.ttf") format("truetype");
}
*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box; 
    // cursor: pointer;
   // color: rgb(1, 5, 85);
    //font-family: AvenirReg;
    scroll-behavior: smooth;
    font-family: "AvenirNext";


  }
    
  html, body {
    margin:0!important; 
    padding-top: 0;
    display: inline;
    // 
  }

 
